:root {
    --pocetniGradijent: linear-gradient(190deg, rgba(90,161,240,1) 0%, rgba(114,121,248,1) 100%);
    --dugaGradijent: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(255,154,0,1) 10%, rgba(208,222,33,1) 20%, rgba(79,220,74,1) 30%, rgba(63,218,216,1) 40%, rgba(47,201,226,1) 50%, rgba(28,127,238,1) 60%, rgba(95,21,242,1) 70%, rgba(186,12,248,1) 80%, rgba(251,7,217,1) 90%, rgba(255,0,0,1) 100%);
}

body {
    background-color: lightsteelblue;
}

table, th, tr, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th { font-weight: bold; background-color: lightgrey; }

.select_div { text-align: center; }

select {
    border-radius: 5px;
    background-color: lightblue;
}

select:hover {
    border-radius: 10px;
    background-color: lightcyan;
}

.select_div > select {
    width: 100%;
    height: 10vh;
    text-align: center;
    font-size: x-large;
    border-radius: 5px;
}

.informacije {
    border: 3px solid black;
    border-radius: 10px;
    background: var(--pocetniGradijent);
    text-shadow: 2px 2px gray;
}

.naslov {
    /* background-color: #f05a5a; */
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
}

.platnoKonfiguracija {
    margin: 2px;
    border-radius: 10px;
    background-color: #0000000F;
}

.konfiguracijaNaslov {
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    font-style: italic;
    text-shadow: 2px 2px gray;
}

.adresa {
    /* background-color: #72f872; */
    text-align: center;
    font-size: larger;
    font-style: italic;
    color: white;
}

.kontrole {
    display: flex;
    flex: 0 1 auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 2px;
}

.kontrolaNaslov {
    background-color: #f05a5a;
    text-align: center;
    font-weight: bold;
    padding: 5px;
    border: 2px solid black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.kontrola > button {
    width: 100%;
    min-height: 30px;
    height: auto;
    border-left: 2px solid black;
    border-right: 2px solid black;
}

.kontrola > button:last-child {

    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom: 2px solid black;
}

img {
    margin: 10px;
    width: 150px;
    border-radius: 10px;
    border: 2px solid lightcoral
}

.kontrola > button:hover { color: blue; font-weight: bold; }
.kontrola > button:focus {
    color: red;
    font-weight: bold;
    font-style: italic;
}

.flex_div {
    display: flex;
    flex: 0 1 auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 2px;
}

.flex_div > div {
    margin: 5px;
}

/* .flex_div > div > table > tr:first-of-type {
    background-color: red;
} */

/* table > tr > div {
    padding: 2px;
    background-color: lightcoral;
} */



.kontrola {
    width: 300px;
    margin: 3px;
    /* border: 3px solid black; */
    border-radius: 5px;;
}

.prodavacTabela {
    width: 100%;
    text-align: center;
    background-color: lightcyan;
    font-size: large;
}

.forma > form > * { width: 98%; }

.forma { text-align: center; }

.forma > form > label {
    font-size: large;
    font-weight: bold;
}

.submitDugme { font-weight: bold; font-size: medium; height: 30px; }
.submitDugme:hover { color: purple; border-radius: 10px; }

input:hover { font-weight: bold; border-radius: 10px; }

.linija {
    width: 100%;
    border-top: 6px dashed black;
}

.dobrodosli {
    font-weight: bold;
    /* font-style: italic; */
    text-align: center;
    font-size: xx-large;
    color: black;
    padding: 10px;

    text-shadow: 3px 3px white;
}

.poredjenjeCena {
    text-align: center;
}

.naslovCene {
    font-size: x-large;
    margin: 5px;
    font-weight: bold;
    text-shadow: 2px 2px gray;
}

.cenaDiv {
    padding: 5px;
    background-color: black;
    border-radius: 10px;
}

.procenatDiv {
    text-align: center;
    font-size: large;
    border-radius: 5px;
    min-height: 15px;
    height: auto;
    background-color: green;

    color: white;

}

.kontejner { padding: 5px; border-radius: 10px; }
.kontejner:nth-of-type(1) { background-color: #4400ff30; }
.kontejner:nth-of-type(2) { background-color: #0051ff30; }
.kontejner:nth-of-type(3) { background-color: #24b49c30; }